<div class="hidden-data">
  <%= hidden_field_tag "number-of-tasks", @tasks.length %>
  <% @tasks.each_with_index do |task, idx| %>
    <div id="hidden-field-task-<%=idx%>">
      <%= hidden_field_tag "task-#{task.id}", task.id, class: 'hidden-task-id' %>
      <%= hidden_field_tag "staff-email-#{task.id}", task.user.email, class: 'hidden-staff-email' %>
      <%= hidden_field_tag "task-note-#{task.id}", task.note, class: 'hidden-task-note' %>
      <%= hidden_field_tag "latitude-#{task.id}", task.latitude, class: 'hidden-latitude' %>
      <%= hidden_field_tag "longitude-#{task.id}", task.longitude, class: 'hidden-longitude' %>
      <%= hidden_field_tag "expect-sale-#{task.id}", task.expect_sale, class: 'hidden-expect-sale' %>
      <%= hidden_field_tag "actual-sale-#{task.id}", task.actual_sale, class: 'hidden-actual-sale' %>
      <%= hidden_field_tag "check-in-#{task.id}", task.check_in, class: 'hidden-check-in' %>
      <%= hidden_field_tag "check-out-#{task.id}", task.check_in, class: 'hidden-check-out' %>
    </div>
  <% end %>
</div>

<h1 class="text-center">
  Tasks of <%= Date.today %>
</h1>

<div class="card">
  <div class="card-block">
    <div id="dashboard-map"></div>
  </div>
</div>
