<h1>Show Outlet</h1>
<%= hidden_field_tag :show_latitude, @outlet.latitude %>
<%= hidden_field_tag :show_longitude, @outlet.longitude %>
<%= hidden_field_tag :address, @outlet.address %>

<div class="row">
  <div class='col-md-3'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="5%" scope="col">#</th>
          <th width="45%" scope="col">Name</th>
          <th width="50%" scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @outlet.products.each.with_index(1) do |product, idx| %>
          <tr>
            <th width="5%" scope="row"><%= idx %></th>
            <td width="45%"><%= product.name %></td>
            <td width="50%"><%= product.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-block">
        <div id="show-outlet-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
